html {
    --text-primary: white;
    --text-secondary: black;
    --text-tertiary: #70259B; 

    --bg-primary: #70259B;
    --bg-secondary: white;
}

p {
    color: black;
}

.case-container {
    width: 90%;
    margin-top: 2vh;
}

.case-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 15%;
}

.case-header > p {
    font-size: 1.5vw;
}

.case-header > img {
    width: 3vw;
}

.case-slider {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.case-slider > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    width: 28vw;
    height: 30vw;

    background-size: cover;
    background-position: center;
}

.case-slider > div > div {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.case-slider > div > div > img {
    width: 3vw;
}

.case-slider > div > div > p {
    width: 90%;
    text-align: left;
    color: white;
}

.case-slider > div > div > p:first-of-type {
    font-size: 1.5vw;
    font-weight: bold;
}

.case-slider > div > div > p:last-of-type {
    font-size: 1.25vw;
}

.olympian {
    background-image: url('../../../Assets/olympian.jpeg');
}

.dragon {
    background-image: url('../../../Assets/dragon.jpeg');
}

.mali {
    background-image: url('../../../Assets/skhokho.jpeg');
}