:root {
    --text-primary: white;
    --text-secondary: black;
    --text-tertiary: #70259B; 

    --bg-primary: #70259B;
    --bg-secondary: white;
}

.navbarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #70259B;
    color: white;
    
    height: 80px;
}

.logo, .talk {
    width: 25%;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    width: 50%;
}

.links > a {
    color: white;
    text-decoration: none;
}

.talk > button {
    width: 15vw;
    height: 4vh;

    background-color: white;
    color: #70259B;
    
    font-weight: bold;
    
    border: none;
    border-radius: 1vw;
    
    cursor: pointer;
}