html {
    --text-primary: white;
    --text-secondary: black;
    --text-tertiary: #70259B; 

    --bg-primary: #70259B;
    --bg-secondary: white;
}

.body-container {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}

.body-inner {
    width: 90%;

    display: flex;
    flex-direction: column;
}