html {
    --text-primary: white;
    --text-secondary: black;
    --text-tertiary: #70259B; 

    --bg-primary: #70259B;
    --bg-secondary: white;
}

.headerContainer {
    background-image: url('../../Assets/Hero\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;

    color: white;

    width: 100%;
    height: 40vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContainerInner {
    width: 90%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

h2 {
    color: white;
}

p {
    color: white;
    
    text-align: left;

    font-size: 3.5vw;
}

p:last-child {
    font-size: 1.5vw;

    width: 90%;
}

button {
    width: 15vw;
    height: 4vh;

    background-color: #70259B;
    color: white;
    
    font-weight: bold;
    
    border: none;
    border-radius: 1vw;
    
    cursor: pointer;
}