html {
    --text-primary: white;
    --text-secondary: black;
    --text-tertiary: #70259B; 

    --bg-primary: #70259B;
    --bg-secondary: white;
}

.about-container {
    width: 90%;
}

.about-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 15%;
}

p {
    color: black;
}

.about-header > p {
    font-size: 1.5vw;
}

.about-header > img {
    width: 3vw;
}

.about-container > p {
    font-size: 3vw;
    font-weight: bold;
    text-align: left;
}

.about-features {
    display: grid;
    grid-template-columns: auto auto auto auto;

    margin-top: 2vh;
}

.about-features > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-features > div > img {
    height: 4vw;
}

.about-features > div > p {
    text-align: left;
    width: 90%;
}

.about-features > div > p:first-of-type {
    font-size: 1.5vw;
    font-weight: bold;
}

.about-features > div > p:last-of-type {
    font-size: 1.25vw;
}